#########################
## Embarcadero RAD Studio
#########################

## Ignore RAD Studio temporary files, build results, and

# User-specific files

__history/
*.~*
*.bak
*.bpl
*.cfg
*.dcu
*.dll
*.exe
*.identcache
*.local
*.stat
*.xml
*.zip
*.res
*.obj
*.#00
*.ilc
*.ild
*.ilf
*.ils
*.map
*.pch
*.pdi
*.tdw

/WIN32
/WIN32/Debug